@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.container {
    width: 100%;
    text-align: center;
    align-items: center;
}

h1 {
}

p {
    font-weight: 700;
    font-size: large;
}
p span{
    font-weight: 1000;
    font-size: larger;
}

table {
    border: 2px solid black;
    margin: 5%;
}

table:hover {
    cursor: pointer;
    border: 4px solid red;
    margin: 6%;
    transition: 1s;
}

table, th, td {
    border: 2px solid black;
}
