<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= , initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />

    <title>UltraStore</title>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <a href="#">
          <img src="./imgs/Logo.png" alt="" />
        </a>
      </div>
      <div class="row-container">
        <div class="row1">
          <div class="search-wrapper">
            <div class="search">
              <input type="text" placeholder="Search our shop" />
              <button class="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </div>
          <div class="action-btns">
            <a href="">
              <i class="fa-solid fa-user"></i>
            </a>
            <a href="">
              <i class="fa-solid fa-cart-shopping"></i>
            </a>
            <div class="divider"></div>
            <button class="menu">
              <span>MENU</span>
              <i class="fa-solid fa-bars"></i>
            </button>
          </div>
        </div>
        <div class="row2">
          <nav class="navbar">
            <ul>
              <li>
                <a href=""> Football </a>
              </li>
              <li>
                <a href=""> Fanshop </a>
              </li>
              <li>
                <a href=""> Training </a>
              </li>
              <li>
                <a href=""> Running </a>
              </li>
              <li>
                <a href=""> Everyday </a>
              </li>
              <li>
                <a href=""> Sale </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="section-1">
      <div class="banner">
        <div class="banner-img">
          <img src="/imgs/banner/banner-img-1.jpg" alt="" />
        </div>
        <div class="gradient-overlay"></div>
        <div class="banner-info">
          <div class="banner-title">The new Nike World Cup kit</div>
          <a href="#">
            <button class="shop-now-btn">Shop Now</button>
          </a>
        </div>
      </div>
      <div class="banner">
        <div class="banner-img">
          <img src="/imgs/banner/banner-img-2.jpg" alt="" />
        </div>
        <div class="gradient-overlay"></div>
        <div class="banner-info">
          <div class="banner-title">Warehouse Sale</div>
          <a href="#">
            <button class="shop-now-btn">Shop Now</button>
          </a>
        </div>
      </div>
    </div>
    <div class="product-slider">
      <div class="left-arrow">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="product-container">
        <div class="product-img">
          <img src="./imgs/productSlider/pi1.jpg" alt="" />
        </div>
        <div class="product-img">
          <img src="./imgs/productSlider/pi2.jpg" alt="" />
        </div>
        <div class="product-img">
          <img src="./imgs/productSlider/pi3.jpg" alt="" />
        </div>
        <div class="product-img">
          <img src="./imgs/productSlider/pi4.jpg" alt="" />
        </div>
        <div class="product-img">
          <img src="./imgs/productSlider/pi5.jpg" alt="" />
        </div>
        <div class="product-img">
          <img src="./imgs/productSlider/pi6.jpg" alt="" />
        </div>
        <div class="product-img">
          <img src="./imgs/productSlider/pi7.jpg" alt="" />
        </div>
        <div class="product-img">
          <img src="./imgs/productSlider/pi8.jpg" alt="" />
        </div>
        <div class="product-img">
          <img src="./imgs/productSlider/pi9.jpg" alt="" />
        </div>
      </div>
      <div class="right-arrow">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>

    <div class="shipping-container">
      <div class="shipping">
        <a href="">
          <div class="shipping-link">
            <div class="shipping-item">
              <i class="fa-brands fa-youtube"></i>
            </div>
            <div class="shipping-text">
              <span class="shipping-text-title">Youtube</span>
              <span> - +2.2 million subscribers </span>
            </div>
          </div>
        </a>
        <a href="">
          <div class="shipping-link">
            <div class="shipping-item-star">
              <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i
              ><i class="fa-solid fa-star"></i>
            </div>
            <div class="shipping-text">
              <span class="shipping-text-title">Turstpoilt</span>
              <span> - 100's of reviews with 5 stars </span>
            </div>
          </div>
        </a>
        <a href="">
          <div class="shipping-link">
            <div class="shipping-item">
              <i class="fa-solid fa-truck"></i>
            </div>
            <div class="shipping-text">
              <span class="shipping-text-title">Worldwide delivery</span>
              <span> - Shipping from 7€ </span>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="popular-catagories">
      <h2>Popular Catagories</h2>
      <ul>
        <li>
          <a href="" class="category-box">
            <img src="./imgs/popularCatagories/pc1.jpg" alt="" />
            <div class="category-inner-text">Fanshop 2022/23</div>
          </a>
        </li>
        <li>
          <a href="" class="category-box">
            <img src="./imgs/popularCatagories/pc2.jpg" alt="" />
            <div class="category-inner-text">Warehouse Sale</div>
          </a>
        </li>
        <li>
          <a href="" class="category-box">
            <img src="./imgs/popularCatagories/pc3.jpg" alt="" />
            <div class="category-inner-text">Back 2 Football</div>
          </a>
        </li>
        <li>
          <a href="" class="category-box">
            <img src="./imgs/popularCatagories/pc4.jpg" alt="" />
            <div class="category-inner-text">Football Boots</div>
          </a>
        </li>
        <li>
          <a href="" class="category-box">
            <img src="./imgs/popularCatagories/pc5.jpg" alt="" />
            <div class="category-inner-text">Sneakers</div>
          </a>
        </li>
        <li>
          <a href="" class="category-box">
            <img src="./imgs/popularCatagories/pc6.jpg" alt="" />
            <div class="category-inner-text">Footballs</div>
          </a>
        </li>
        <li>
          <a href="" class="category-box">
            <img src="./imgs/popularCatagories/pc7.jpg" alt="" />
            <div class="category-inner-text">UltraStore Everyday</div>
          </a>
        </li>
        <li>
          <a href="" class="category-box">
            <img src="./imgs/popularCatagories/pc8.jpg" alt="" />
            <div class="category-inner-text">Team Kit Builder</div>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer">
      <div class="footer-form">
        <div class="form-wrapper">
          <h4>Join UltraStore</h4>
          <div class="email">
            <input type="text" placeholder="Enter e-mail" />
            <button>Sign Up</button>
          </div>
          <div class="terms">
            <input type="checkbox" />
            <p>
              <b>Yes, Please!</b>
              I would like to receive exclusive offers and football inspiration
              from Unisport via email. I can withdraw my consent at any time.
            </p>
          </div>
          <div class="terms-link">
            <a href=""> Read our terms </a>
            |
            <a href=""> Privacy policy </a>
          </div>
        </div>
      </div>
      <div class="footer-content">
        <ul class="footer-ul">
          <div class="footer-list-wrapper">
            <a href=""><b>#ultrastorelife</b></a>
            <a href=""> Log in / create account </a>
            <a href=""> Jobs </a>
            <a href=""> Blog </a>
            <a href=""> Guides </a>
            <a href=""> Microsites </a>
            <a href=""> Newsletter </a>
          </div>
          <div class="footer-list-wrapper">
            <a href=""><b>About UltraStore</b></a>
            <a href=""> Football specialist since 1995 </a>
            <a href=""> Official partner in football </a>
            <a href=""> E-commerce awards winner </a>
            <a href=""> Approved by the superstars </a>
            <a href=""> +5 million followers </a>
          </div>
          <div class="footer-list-wrapper">
            <a href=""><b>Gift Cards</b></a>
            <a href=""><b>Legal</b></a>
            <a href="">Privacy notice </a>
            <a href="">Conditions of use </a>
            <a href="">Imprint</a>
          </div>
          <div class="footer-list-wrapper">
            <a href=""><b>Stores</b></a>
            <a href=""> Copenhagen </a>
            <a href=""> Paris </a>
            <a href=""> Oslo </a>
            <a href=""> Stockholm</a>
          </div>
          <div class="footer-list-wrapper">
            <a href=""><b> Get help </b></a>
            <a href=""> Contact us </a>
            <a href=""> FAQ </a>
            <a href=""> Delivery </a>
            <a href=""> Return </a>
            <a href=""> Boot Selector </a>
            <a href=""> Glove Selector </a>
          </div>
        </ul>
      </div>
    </div>
  </body>
  <script
    src="https://kit.fontawesome.com/e3df5c0eb9.js"
    crossorigin="anonymous"
  ></script>
</html>
