<form action="" method="POST" class="container">
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Genre</label>
    <input type="text" class="form-control" name="genre" />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Year</label>
    <input type="text" class="form-control" name="year" />
  </div>
  <button class="btn btn-info" type="submit">Add New Movie</button>
</form>
