<form action="" method="POST" class="container">
  <div class="mb-3">
    <label for="" class="form-label">Name</label>
    <input
      type="text"
      class="form-control"
      value="<%= movie.name %>"
      name="name"
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Genre</label>
    <input
      type="text"
      class="form-control"
      name="genre"
      value="<%= movie.genre %>"
    />
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Year</label>
    <input
      type="text"
      class="form-control"
      name="year"
      value="<%= movie.year %>"
    />
  </div>
  <button class="btn btn-info" type="submit">Edit New Record</button>
</form>
